<div >
	<h1>Mega Title</h1>
	<h2>Super title</h2>
	<hr/>

	<div class="row">
        
        <div class="col-lg-3">
          <h3>API CALL</h3>
          <p>
            Test an API call
            <br/>
            <p><a class="btn  btn-primary" ng-click="apiCall()">Call! &raquo;</a></p>
          </p>
       </div>
       <div class="col-lg-3">
          <h3>Title</h3>
          <p>
            Description
            <br/>
            <p><a class="btn  btn-success" href="#/about">Go! &raquo;</a></p>
          </p>
       </div>
       <div class="col-lg-3">
          <h3>Title</h3>
          <p>
            Description
            <br/>
            <p><a class="btn  btn-success" href="#/about">Go! &raquo;</a></p>
          </p>
       </div>
</div>