<div class="container" ng-controller="MenuCtrl" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Utility App</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active:isActiveTab('/about')}"><a href="#/about">About</a></li>
            <li class="dropdown" ng-class="{active:isActiveTab(['/xxx','/xxxx'])}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">A lot of links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-class="{active:isActiveTab('/xxx')}"><a href="#">A link</a></li>
                <li ng-class="{active:isActiveTab('/xxxx')}"><a href="#">Another Link</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            
          </ul>

          <!-- NOT LOGGED -->
          <form class="navbar-form navbar-right" ng-hide="user">
            <div class="form-group">
              <a href="/auth/google" title="Login with Google+" class="btn btn-primary"><i class="fa fa-google-plus "></i></a>
              <a href="/auth/facebook" title="Login with Facebook" class="btn btn-primary"><i class="fa fa-facebook "></i></a>
              <a href="/auth/twitter" title="Login with Twitter" class="btn btn-primary"><i class="fa fa-twitter "></i></a>
              <a href="/auth/github" title="Login with Github" class="btn btn-primary"><i class="fa fa-github-alt"></i></a>
              <a href="/auth/linkedin" title="Login with LinkedIn" class="btn btn-primary"><i class="fa fa-linkedin "></i></a>
              <span style="color:white; font-size:x-small"> OR </span>
              <a ng-click="register()" title="Register" class="btn btn-success btn-xs">REGISTER</a>
            </div>
          </form>

          <!-- LOGGED IN -->
          <ul class="nav navbar-nav navbar-right" ng-show="user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <b>{{user.displayName}}
                  <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x" ng-show="user.service == 'facebook'"/>
                    <i class="fa fa-twitter  fa-stack-1x" ng-show="user.service == 'twitter'"/>
                    <i class="fa fa-github-alt  fa-stack-1x" ng-show="user.service == 'github'"/>
                    <i class="fa fa-google-plus  fa-stack-1x" ng-show="user.service == 'google'"/>
                    <i class="fa fa-linkedin  fa-stack-1x" ng-show="user.service == 'linkedin'"/>
                  </span>
                  <b class="caret"/></b> 
                </a>
                <ul class="dropdown-menu">
                  <li><a style="cursor:pointer;" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
