<div class="container" ng-controller="MenuCtrl" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Utility App</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active:isActiveTab('/about')}"><a href="#/about">About</a></li>
            <li class="dropdown" ng-class="{active:isActiveTab(['/xxx','/xxxx'])}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">A lot of links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-class="{active:isActiveTab('/xxx')}"><a href="#">A link</a></li>
                <li ng-class="{active:isActiveTab('/xxxx')}"><a href="#">Another Link</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>